html,
body {
  background: lightblue;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  /*font-smoothing: antialiased;
  text-rendering: optimizelegibility;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

/* Hide main h1 and nav h1 from display but keep them in the HTML outline */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Main navigation
============================== */

.nav-header {
  background: #415457;
}

.logo h1 {
  margin-left: 0.65em;
}

.main-nav ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0.4em; /* 8px */
}

.main-nav li a {
  display: block;
  color: #36B2DE;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8em 0;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #fff;
}


/* Presentation
============================== */
.presentation-section {
  background: linear-gradient(rgba(54, 178, 222, 0.8),rgba(54, 178, 222, 0.8)), url(../img/background-small.jpg) no-repeat center;
  background-size: cover;
  padding: 2em 0;
}

.img-circle {
  border: 5px solid #36B2DE;
}

.profile-img {
  height: 150px;
  width: 150px;
}

.presentation h1 {
  font-weight: 800;
  line-height: 1em;
  color: #fff;
}

.presentation span {
  margin-top: 1em;
  font-size: 0.4em;
  display: block;
}

.presentation h4 {
  font-weight: 800;
}


/* About me section
============================== */
.intro-section {
  background: lightblue;
  padding: 2em 0;
}

.intro-text {
  width: 85%;
  max-width: 750px;
  margin: 0 auto;
}

h2 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 3em;
}


/* Portfolio section
============================== */
.portfolio-section {
  padding: 2em 0;
}


/* Progress bar info section
============================== */
.skills {
  padding: 2em 0;
  background: grey;
}

.progress {
    min-height: 2em;
    margin-bottom: 3.5em;
    width: 100%;
}

.progress-bar {
  background-color: #0171BB;
  width: 100%;
}

.html-progress-bar {
  background-color: #E44D26;
  width: 100%;
}

.js-progress-bar {
  background-color: #F9DB3D;
  width: 100%;
}

.git-progress-bar {
  background-color: #ccc;
  width: 100%;
}

.gulp-progress-bar {
  background-color: tomato;
  width: 100%;
}

.c-progress-bar {
  background-color: black;
  width: 100%;
}

.illustrator-progress-bar {
  background-color: #F8B049;
  width: 100%;
}

.ps-progress-bar {
  background-color: #36B2DE;
  width: 100%;
}

/* Main footer
============================== */
.main-footer {
  background-color: #415457;
  padding: 1.5em 0;
}

.main-footer h5 {
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}



/* Polymer Elements */
.polymer-test {
  padding: 25px;
  background: teal;
  color: white;
}

h2.post-title {
  color: yellow!important;
}

blog-post::shadow .blog-post {
  color: pink;
}

post-title::shadow h2 {
  color: green;
}


/* overwrites element css.... */
binding-datazor::shadow h2 {
  font-weight: bold;
  font-size: 1vw;
  color: #2980b9;
  background: red;
}

binding-datazor::shadow article {
  background-color: red;
}



/* Media Queries
============================== */
@media (min-width: 800px) {

  p {
    font-size: 1.25em;
  }

  .nav-header {
    padding: 1.2em;
  }

  .main-nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 1.1em;
  }

  .presentation-section {
    height: 75vh;
    background: linear-gradient(rgba(54, 178, 222, 0.5),rgba(54, 178, 222, 0.5)), url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
  }

  .presentation h1 {
    font-size: 4.5em;
    font-weight: 800;
    line-height: 1em;
  }

  .presentation h4 {
    font-size: 2em;
  }

  .img-circle {
    border-width: 8px;
    margin-bottom: 2em;
  }

  .profile-img {
    height: 200px;
    width: 200px;
  }

  .intro-text p {
    font-size: 1.6em;
    margin: 0 auto 1.5em;
  }

  /* contact section */
  .contact {
    height: 500px;
    background: lightblue;
  }

  .quote-section {
    padding: 2em 0;
    font-size: 2.5em;
  }

  .presentation-section {
    padding: 5em 0;
  }

  .portfolio-section {
    padding: 5em 0;
  }

  .intro-section {
    padding: 5em 0;
  }

  .skills {
    padding: 5em 0;
  }

  .main-footer {
    padding: 4em 0 2em;
  }

}
